*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container
{
    padding-left: 50px;
    padding-right: 50px;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

nav ul
{  width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
nav img
{
    height: 40px;
}

.hero-section p
{
    font-size: 70px;
    font-weight: bolder;
    margin-top: 51px;
    margin-left: 50px;    
}
.hero-section h4
{
    margin-left: 50px;
}

.image-section img
{
    margin-left: 600px;
    margin-top: -200px;
    height: 380px;
}


.trip
{
    margin-top: -150px;
    margin-left: 80px;
}
.last img
{
   height: 250px;
   margin-left: 30px;
}